@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.main-splash {
  background-image: url('/assets/images/splash-bg.webp');
}

.dot-splash {
  background-image: radial-gradient(circle at 1px 1px, currentColor 1px, transparent 0);
  background-size: 15px 15px;
  background-position-x: 7.5px;
  background-position-y: 7.5px;
  opacity: 8%
}

.nav-item {
  @apply text-foreground/70 text-sm hover:text-white transition-colors;
}

